div(ng-include='"components/navbar/navbar.html"')

//link(rel="import", href="google-map.html")
//google-map(lat="37.790", long="-122.390")

footer.footer
    .container
        p
            a(href='https://twitter.com/neolivz_lfc') @neolivz_lfc
            = ' | '
            a(href='https://github.com/neolivz/lfcfans/issues?state=open') Issues