div.bkopTopBar(ng-include='"components/navbar/navbar.html"')
.bkopContent
    .container
        div.nonFloater
        div.row.login
            div.col-sm-4
              p.centralAlign
                    svg(rols='img',title='facebook',ng-click='loginOauth("facebook")')
                        use(xlink:href='/assets/images/login.svg#facebook',transform='scale(0.5) translate(0)')
            div.col-sm-4
              p.centralAlign
                      svg(rols='img',title='google',ng-click='loginOauth("google")')
                          use(xlink:href='/assets/images/login.svg#google',transform='scale(0.5) translate(0)')
            div.col-sm-4
              p.centralAlign
                      svg(rols='img',title='twitter', ng-click='loginOauth("twitter")')
                          use(xlink:href='/assets/images/login.svg#twitter',transform='scale(0.5) translate(0)')
