div.bkopTopBar(ng-include='"components/navbar/navbar.html"')
.bkopContent
    .container
        div.nonFloater
        div.row.login
            div.col-sm-4
              p(style='text-align: center')
                  a.btn(href='', ng-click='loginOauth("facebook")')
                    svg(rols='img',title='facebook')
                        use(xlink:href='/assets/images/login.svg#facebook',transform='scale(0.5) translate(0)')
            div.col-sm-4
              p(style='text-align: center')
                  a.btn(href='', ng-click='loginOauth("google")')
                      svg(rols='img',title='google')
                          use(xlink:href='/assets/images/login.svg#google',transform='scale(0.5) translate(0)')
            div.col-sm-4
              p(style='text-align: center')
                  a.btn(href='', ng-click='loginOauth("twitter")')
                      svg(rols='img',title='twitter')
                          use(xlink:href='/assets/images/login.svg#twitter',transform='scale(0.5) translate(0)')
