div(ng-include='"components/navbar/navbar.html"')

footer.footer
    .container
        p
            a(href='https://twitter.com/neolivz_lfc') @neolivz_lfc
            = ' | '
            a(href='https://github.com/neolivz/lfcfans/issues?state=open') Issues