$navbar-bg-compliment:             #76292f !default;
$navbar-default-color:             #ffcc00 !default;
$navbar-default-bg:                #d0202e !default;
$navbar-bg-compliment:             #76292f !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;
.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: 0px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #76292f;
}

body{
  background: $navbar-bg-compliment;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    background-color: #9c3940;
}

.bkopContent{

  background-color: #76292f;
  padding-top: $navbar-margin-bottom;
  color: #fff;
  min-height: 700px;
}

.login{
  padding-top: 25%;
}

.whiteShadowBox{
  background-color: white;
  margin-top: 100px;
  padding-bottom: 50px;
  padding-top: 50px;
  box-shadow: 0 0 50px #000;
  width: 100%;
}



.centralAlign svg{
  margin-left: 30%;
}
.centralAlign{
  text-align: center
}

.nonFloater{
  @include clearfix();
}

.navbar{
  //Instead of navbar carrying the info it's pushed to the contentBar
  margin-bottom: 0px;
}

@media screen and (min-width: $screen-sm-min) {
  .whiteShadowBox{
    width: 85%;
    box-shadow: 0 0 100px #000;
    border-radius: 10px;
  }

}

.gallery .row{
  margin-bottom: 5%;
}